[Desktop Entry]
Encoding=UTF-8
Name=GoatCheese
Comment=GoatCheese P2P Cryptocurrency
Exec=/usr/bin/goatcheese-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/goatcheese;
Categories=Office;
Name[en_US]=goatcheese-qt.desktop
